header {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 40px;
}
.header_title {
	letter-spacing: 10px;
}
.nav_link {
	transition: all 0.5s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.nav_list {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
}
