header {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.nav_link {
	all: unset;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 50%;
	padding: 8px;
	transition: all 0.5s ease;
	&:hover {
		transform: scale(1.1);
	}
}
