.fadeEnter {
	opacity: 0;
	transform: translateY(-10px);
}

.fadeEnterActive {
	opacity: 1;
	transform: translateY(0);
	transition:
		opacity 50000ms ease-in-out,
		transform 50000ms ease-in-out;
}

.fadeExit {
	opacity: 1;
	transform: translateY(0);
}

.fadeExitActive {
	opacity: 0;
	transform: translateY(-10px);
	transition:
		opacity 50000ms ease-in-out,
		transform 50000ms ease-in-out;
}
