.settings_wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
}
.settings_header {
	letter-spacing: 6px;
	text-align: center;
}
.settings_section_wrapper {
	gap: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	flex: 1;
}
.settings_section {
	display: flex;
	align-items: center;
	gap: 5px;
}
