.about_title {
	text-align: center;
}
.cv_wrapper {
	padding: 20px;
	text-align: justify;
}
.skills_wrapper {
	margin: 30px 0 15px;
}
.skills_title {
	display: flex;
	align-items: center;
}
.skills_container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}
.skill_item {
	text-align: center;
	width: 100%;
}
.grid {
	text-align: center;
}

.contact_me {
	display: flex;
	align-items: center;
	font-size: 18px;
}
.telegram_link {
	display: flex;
	align-items: center;
}
.projects_wrapper {
	padding: 20px;
}
.links {
	&.tg {
		display: flex;
		align-items: center;
	}
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: currentColor;
		transition: all 0.3s ease-in-out;
	}
	&:hover::after {
		width: 100%;
	}
}

.list_item:hover .list_item_avatar {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
}
