.weather_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	gap: 20px;
	align-items: center;
}
.weather_city_input {
	width: 200px;
}
.map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.forecast_map_wrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
	padding: 20px;
	align-items: center;
}
@media (max-width: 768px) {
	.forecast_map_wrapper {
		flex-direction: column;
	}
}
